<!--templates/_base.html-->
<!DOCTYPE html>
<html lang="en">
        
    <head>
        <!-- <meta charset="utf-8"> -->
        <!--For responsive-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %} Ideaunbox {% endblock title %} 
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block indiv_head_content %}
        {% endblock indiv_head_content %}
        <script >
            window.addEventListener('resize', function() {
                if (window.innerWidth <= "700") {
                    window.location.href = "https://www.google.com"; 
                }
            });
            function redirect() {
                if (screen.width <= 700) {
                    window.location = "https://www.google.com/";
                }
            }
        </script>
        <style>
        .footer-link{
            color: black;
            font-size: 20px;
        }

        .footer-link:hover{
            color: black;
        }
        .content-heading{
            font-size: 20px;
            font-weight: bold;
        }
        .noborder{
            border:none;
        }
        </style>
    </head>
    <body style="font-family: 'Dosis', sans-serif !important;" onload="redirect()">
    <!--Block for navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <!--brand logo and name goes here-->
            <a class="navbar-brand" href="/">
                <img src="https://idea-unbox1.s3.ap-south-1.amazonaws.com/ideabox1-01.png" height="150" width="150" alt="logo">
            </a>
            <!--hamburger icon for smaller screens-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--nav bar items-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item {%ifequal request.path '/apparels/' %} active {% endifequal %}">
                    <a class="nav-link" href="/apparels/">Apparels<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {%ifequal request.path '/awards/' %} active {% endifequal %}">
                    <a class="nav-link" href="/awards/">Awards</a>
                </li>
                <li class="nav-item {%ifequal request.path '/bags/' %} active {% endifequal %}">
                    <a class="nav-link" href="/bags/">Bags & Luggage</a>
                </li>
                <li class="nav-item {%ifequal request.path '/electronics/' %} active {% endifequal %}">
                    <a class="nav-link" href="/electronics/">Electronics</a>
                </li>
                <li class="nav-item {%ifequal request.path '/stationary/' %} active {% endifequal %}">
                    <a class="nav-link" href="/stationary/">Office & Stationary</a>
                </li>
                <li class="nav-item {%ifequal request.path '/premium-gifts/' %} active {% endifequal %}">
                    <a class="nav-link" href="/premium-gifts/">Premium Gifts</a>
                </li>
                <li class="nav-item {%ifequal request.path '/promotional-gifts/' %} active {% endifequal %}">
                    <a class="nav-link" href="/promotional-figts/">Promotional Gifts</a>
                </li>
                <li class="nav-item {%ifequal request.path '/leatherites/' %} active {% endifequal %}">
                    <a class="nav-link" href="/leatherites/">Leatherites</a>
                </li>
                <li class="nav-item {%ifequal request.path '/homeware/' %} active {% endifequal %}">
                    <a class="nav-link" href="/homeware/">Homeware</a>
                </li>
                <li class="nav-item {%ifequal request.path '/drinkware/' %} active {% endifequal %}">
                    <a class="nav-link" href="/drinkware/">Drinkware</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0 btn-dark" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
                </form>
                <!--Show sign in button if not signed in else show my profile button-->
                {% if request.user.is_authenticated %}
                <button class="btn btn-outline-dark ml-5">My Profile</button>
                {% else %}
                <button class="btn btn-outline-dark ml-5">Sign in</button>
                {% endif %}
                <div class="ml-2">
                <!--cart button-->
                <button type="button" class="btn bg-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <span class="p-2">{{0}}</span>
                </button>
                </div>
            </div>
        </nav>
        
        
        {% block content %}
        {% endblock content %}

        {% block footer %}
        <!-- Footer -->
            <footer class="page-footer m-5" style="background: #4682B4">
            <!-- Footer Links -->
                <div class="container text-center text-md-center" >
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 mx-auto">
                            <ul class="list-unstyled">
                            <li>
                                <a class="footer-link" href="#!">About Us</a>
                            </li>
                            </ul>
                        </div>
                        <!-- Grid column -->
                        <div class="col-md-3 mx-auto">
                            <ul class="list-unstyled">
                            <li>
                                <a class="footer-link" href="#!">Contact Us</a>
                            </li>
                            </ul>
                        </div>
                        <!-- Grid column -->
                        <div class="col-md-3 mx-auto">
                            <ul class="list-unstyled">
                            <li>
                                <a class="footer-link" href="#!">Careers</a>
                            </li>
                            </ul>
                        </div>
                        <!-- Grid column -->
                        <div class="col-md-3 mx-auto">
                            <ul class="list-unstyled">
                            <li>
                                <a class="footer-link" href="#!">Recommendations</a>
                            </li>
                            </ul>
                        </div>
                    <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
                <!-- Footer Links -->
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2022 Copyright:
                    <a class="footer-link" href="http://idea-unbox.com/"> Idea Unbox</a>
                    <span class="px-2">|</span> designed by: <a class="footer-link" href="https://themonklabs.com/"> TheMonkLabs</a>
                </div>
            <!-- Copyright -->

            </footer>
        {% endblock footer %}

        {% comment %} custom js goes here {% endcomment %}
        {% block customjs %}
        {% endblock customjs %}
        {% comment %} js goes here {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>