{% extends '_base.html' %}

{% block content %}
    <div class="container-fluid " style="background: #F5F5F5 !important;">
        <div class="row">
            <div class="col-lg-7 one">
                {% for item in items.cart_items %}
                <div class="card row ml-3 mt-3" style="width: 80%">
                    <div class="column mb-5">
                        <div class="row m-3"><img src="{{item.url}}" class="img-fluid img-thumbnail w-25 "></div>
                        <div>
                            {{ item.sku }}
                            {{ item.price }} x <span id="{{item.sku}}-{{item.option}}-quantity-inner"> {{1}} </span>
                        </div>
                        <div class="justify-content-center row mb-5">
                            <button class="fa fa-minus p-1" onclick="changeQuantity('{{item.sku}}', '{{item.option}}', 'decrement')"></button>
                            <input type="number justify-content-center w-25 rounded" name="quantity" min="1" value="1" id="{{item.sku}}-{{item.option}}-quantity" onchange="changeQuantity('{{item.sku}}', '{{item.option}}', 'change')">
                            <button class="fa fa-plus p-1" onclick="changeQuantity('{{item.sku}}', '{{item.option}}', 'increment')"></button>
                        </span></div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
            <div class="col-lg-4 col-2 sticky-top two">
                <h3 class="card-title">Cart items and price details</h3>
                <hr>
                <div class="column">
                    <div class="card row rounded m-1" style="height: 25rem;">
                        <div class="p-3">
                            <span class="float-left"><h4>Price ({{ items.item_count }} items)</h4></span> 
                            <span class="float-right"><h5>₹ {{ items.price }}</h5></span>
                        </div>
                        <div class="p-3">
                            <span class="float-left">Discount</span>
                            <span class="float-right">₹ {{ items.discount }}</span>
                        </div>
                        <hr>
                        <div class="p-3">
                            <span class="float-left">Total</span>
                            <span class="float-right">₹ {{ items.total }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} <div class="column w-50">
        {% for item in items %}
        <div class="d-flex flex-row justify-content-around row m-5">
            <img src="{{item.url}}" class="img-fluid img-thumbnail w-25">
            <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
            <div class="input-group plus-minus-input">
                <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </div>
                <input class="input-group-field" type="number" name="quantity" value="0">
                <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

                     
        </div>
    {% endfor %}
    </div> {% endcomment %}
{% endblock content %}
{% block customjs %}
<script>
    function alertbox(){
        alert("clicked");
    }
    function changeQuantity(sku, option, type){
        const id = sku+"-"+option+"-"+"quantity";
        const innerId = id + "-inner";
        var quantity = parseInt(document.getElementById(id).value);
        if (type === "increment"){
            if(quantity <= 0){
                quantity = 1
                document.getElementById(id).value = quantity;
                document.getElementById(innerId).innerHTML = quantity;
            } else{
                quantity += 1;
                document.getElementById(id).value = quantity;
                document.getElementById(innerId).innerHTML = quantity;
            }
            recalculate(id);
        }
        if(type === "decrement"){
            if(quantity <= 1){
                quantity = 1;
                document.getElementById(id).value = quantity;
                document.getElementById(innerId).innerHTML = quantity;
                document.getElementById(innerId).innerHTML = quantity;                
            } else{
                quantity -= 1;
                document.getElementById(id).value = quantity;
                document.getElementById(innerId).innerHTML = quantity;
            }
            recalculate(id);
        }
        if(type === "change"){
        if (quantity <= 1){
            quantity = 1
            document.getElementById(id).value = quantity;
            document.getElementById(innerId).innerHTML = quantity;
        }
            recalculate(id);
        }
        
    }
    
    function recalculate(id){
        var quantity = parseInt(document.getElementById(id).value);
        console.log("recalculating");
    }
</script>
{% endblock customjs %}