<!--templates/home.html-->
{% extends '_base.html' %}

{% block content %}
    
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/">
    <img src="https://idea-unbox1.s3.ap-south-1.amazonaws.com/ideabox1-01.png" height="200" width="200" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {%ifequal request.path '/apparels/' %} active {% endifequal %}">
        <a class="nav-link" href="/apparels/">Apparels<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {%ifequal request.path '/awards/' %} active {% endifequal %}">
        <a class="nav-link" href="/awards/">Awards & Recognition</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0 btn-dark" type="submit">Search</button>
    </form>
  </div>
</nav>

    {% comment %} <h1>Logo|BrandName| Navigation Bar|Search|Login|Cart</h1>
    <h2>Slider</h2>
    <h3>Top Items</h3>
    <h4>Footer</h4> {% endcomment %}
{% endblock content %}